.owl-carousel .owl-nav button.owl-prev{
    font-size: 43px;
    font-weight: bold;
    color: $naranja;
    position: absolute;
    right: 27px;	
}
.owl-carousel .owl-nav button.owl-next{
    font-size: 43px;
    font-weight: bold;
    color: $naranja;
    right: 0;
    position: absolute;	
}
.owl-carousel {
	margin-bottom: 45px;
}
@media (min-width: 1200px) {
	.owl-carousel .owl-nav button.owl-prev {
		right: inherit;
		top: 16px;
    	left: -25px;
	}	
	.owl-carousel .owl-nav button.owl-next {
		right: -25px;
		top: 16px;
    }	
}